h1{
    
    text-align: center;
    margin: 12px 0; 
}
    
    
    
.myForm {
    max-width: 5000px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myInput{
    font-size: 16px;
    width: 40%;
    padding: 9px;
    margin: 8px;
    border: 2px solid #9d8e8e;
    border-radius: 12px;
    outline: none;
    }